/* Add CSS Styling */

.odd {
    background-color: lightpink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#head {
    color: blue;
    font-size: 36px;
}

.three {
    font-size: 24px;
}

#tail {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}