/* Add CSS Styling */

.button {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', Times, serif,sans-serif;
}

.one {
    background-color: black;
    color: white;
}

.two {
    background-color: yellow;
}