.header  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: monospace;
  background: papayawhip;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  margin: 5px;
}

ul { 
  /* this removes the dots on the list items*/
  list-style-type: none;
  margin: 3px;
  padding: 0px;
  display: flex;
  column-gap: 1em;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}







/* This doesnt work for reasions i dont understand */
/*.left-links {
display: flex;
justify-content: center;
}

.right-links {
display: flex;
}*/

/* ^^^^^^^^^^^^ */
/* I believe this doesnt work now because adding the unorderd list applys for both the right and left side  */
/* I just needed to change the margin and padding because they have set values as without any change. */